#home {
  width: 1200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px 0px;
  margin: auto;
}

.banner_zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.arrow_left {
  height: 32px;
}

.arrow_right {
  height: 32px;
  rotate: 180deg;
}

.banner_main {
  display: flex;
  gap: 32px;
  align-items: center;
}

.banner {
  background-color: #797979;
  width: 1200px;
  height: 240px;
  border-radius: 12px;
}

.dots {
  display: flex;
  gap: 8px;
}

.dot {
  height: 8px;
  width: 8px;
  border: 1px #797979 solid;
  border-radius: 100px;
}
.selected {
  background-color: #797979;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.titulo_slider {
  font-size: 32px;
  font-weight: 700;
}

.wave {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid #020202;
  border-radius: 16px;
  width: fit-content;
  min-width: 360px;

  margin-bottom: 16px; /* APAGAR DEPOIS!*/
}

.topo_wave {
  display: flex;
  gap: 12px;
  align-items: center;
}

.wave_tipo_img {
  height: 64px;
  width: 64px;
}

.titulo {
  font-size: 24px;
  font-weight: 600;
  color: #DF0F24;
}

.categorias {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 20px;
}

.ponto {
  height: 4px;
  width: 4px;
  border-radius: 100px;
  background-color: #020202;
}

.perfil_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.perfil {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 8px;
}

.data {
  font-size: 16px;
}

.perfil img {
  width: 32px;
  height: 32px;
  border-radius: 100px;
}

.engajamento {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}

.slider_space {
  display: flex;
  gap: 24px;
  overflow-x: scroll;
  overflow-y: none;
  width: 1200px;
}

::-webkit-scrollbar {
  height: 8px; /* Altura da barra de rolagem */
  margin-top: 8px;

}

/* Estilo do "trilho" da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da barra */
  
}

/* Estilo do "polegar" ao passar o mouse */
::-webkit-scrollbar-thumb {
  background: #808080; /* Cor do polegar ao passar o mouse */
  border-radius: 6px; /* Cantos arredondados */
}
