<div >
  <div id="home">
    <div class="banner_zone">
      <div class="banner_main">
        <img class="arrow_left" src="../../../assets/seta_banner_icon.svg">
        <div class="banner"></div>
        <img class="arrow_right" src="../../../assets/seta_banner_icon.svg">
      </div>
      <div class="dots">
        <div class="selected dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

    <div class="section">
      <div class="titulo_slider">Waves recentes</div>
      <div class="slider_space">
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="titulo_slider">Waves em alta</div>
      <div class="slider_space">
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="titulo_slider">Beats de trap</div>
      <div class="slider_space">
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
        <div class="wave">
          <div class="topo_wave">
            <img class="wave_tipo_img" src="../../../assets/play_icon.svg">
            <div class="topo_textos">
              <p class="titulo">Nome do Beat</p>
              <div class="categorias">
                <p>Indie</p> <div class="ponto"></div> <p>Rock</p> <div class="ponto"></div> <p>Letra</p>
              </div>
            </div>
          </div>
          <div class="perfil_data">
            <div class="perfil">
              <img src="../../../assets/perfil_icon.png">
              <p>Pedro Beats</p>
            </div>
            <p class="data">Hoje</p>
          </div>
          <div class="engajamento">
            <img src="../../../assets/heart_icon.svg">
            <p>4</p>
            <img src="../../../assets/download_icon.svg">
            <p>3</p>
            <img src="../../../assets/coment_icon.svg">
            <p>2</p>
          </div>
        </div>
      </div>
    </div>

</div>
</div>
